/* fixed main height */
html,
body,
#root {
  --at-apply: "h-full";
}

/* base color */
body {
  --at-apply: "bg-[var(--colorBgContainer)] text-[var(--colorText)]";
}

/* color scheme */
:root {
  color-scheme: light;
}
.dark {
  color-scheme: dark;
}

/* override default border color given by @unocss/reset/tailwind.css */
*,
::before,
::after {
  --at-apply: "border-color-[var(--colorBorderSecondary)]";
}

/* reduce flickering when switching theme */
body {
  --at-apply: "transition";
}

/* webkit scrollbar based on https://github.com/action-hong/unocss-preset-scrollbar */
.scrollbar::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-height);
}
.scrollbar::-webkit-scrollbar-thumb {
  /* TODO: no transition color? */
  background-color: var(--scrollbar-thumb);
}
.scrollbar::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: var(--scrollbar-thumb-radius);
}
.scrollbar::-webkit-scrollbar-track {
  border-radius: var(--scrollbar-track-radius);
}
.scrollbar {
  --scrollbar-width: 10px;
  --scrollbar-height: var(--scrollbar-width);
  --scrollbar-track-radius: 0px;
  --scrollbar-thumb-radius: calc(var(--scrollbar-width) / 2);
}
:root {
  --scrollbar-track: #f1f1f1;
  --scrollbar-thumb: #c1c1c1;
}
.dark {
  --scrollbar-track: #424242;
  --scrollbar-thumb: #686868;
}
@media (pointer: coarse) {
  /* thick scrollbar for touch screen so that it's easier to grab */
  .scrollbar {
    --scrollbar-width: 24px;
  }
}
